/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
    --color-text-dark: #111;
  --color-text-light: white;
  --color-text-brown: #5a1f06;
  --background-header-reclame: #dce84f;
  --color-text-header-reclame: #5a1f06;
  --background-header-light: #efc16d;
  --background-color-dark: #007aff;
  --background-footer-image: #ffd200;
  --background-color-light: #f3f6fa;
  --background-color-light-grey: #F3F6FA;
  --background-bruiloft: #8A0047;
  --background-doop: #8ACEFF;
  --background-communie: #FFABDF;
  --color-hover-producten: #D70100;
  --color-hover-momenten: #FA6400;
  --color-hover-ontdek: #00A832;
  --color-hover-bedrijfsruimte:#0E74E1;
  --color-selection-dark: #123A9F;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/****************/
/* JOUW STYLING */
/****************/

/* nav bar */
/* nav bar */
header>section:nth-of-type(2) img{
  width: 3em;
}

@media (max-width: 1024px) {

  header > section:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    grid-template-rows: 1fr 1fr;
  }

  header > section:nth-of-type(2) button{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  header > section:nth-of-type(2) > img{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 5.5em;
  }

  header > section:nth-of-type(2) nav{
    display: none;
  }

  header > section:nth-of-type(2) > ul{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  header>section:nth-of-type(2) > ul li:nth-of-type(2),
  header>section:nth-of-type(2) > ul li:nth-of-type(3){
     display: none;

  }

  header > section:nth-of-type(2) > section:first-of-type{
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

@media (min-width: 1024px){

  header > section:nth-of-type(2){
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-rows: 1fr;
    gap: 1em;
  }

  header > section:nth-of-type(2) button svg{
    display: none;
  }

  header > section:nth-of-type(2) > img{
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 7em;
  }

  header > section:nth-of-type(2) nav{
    grid-column: 2/3;
    grid-row: 1/-1;
  }

  header > section:nth-of-type(2) > ul{
    grid-column: 4/5;
    grid-row: 1/-1;
  }

  header > section:nth-of-type(2) section:first-of-type{
    grid-column: 3/4;
    grid-row: 1/-1;
  }

  header > section:nth-of-type(2) section:first-of-type a{
    height: 3em;
    width: max-content;
    padding: 0 1.5em;
    background-color: var(--background-color-light-grey);
    border: solid .1em var(--color-text-dark);
    border-radius: 2em;
  }

}

/* logo */


/* burger menu */
header > section:nth-of-type(2) button{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: max-content;
  height: max-content;
  border: none;
  background: none;
}

header > section:nth-of-type(2) button svg{
  width: 2.5em;
}

/* nav */
header section:nth-of-type(2) nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

header section:nth-of-type(2) nav ul{
  display: flex;
  list-style: none;
  gap: 2em;
}

header section:nth-of-type(2) nav a{ /* ik snap niet waarom */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-brown);
  font-weight: bold;
}

header section:nth-of-type(2) nav li a:hover{
  text-underline-offset: 1.7em;
}

header section:nth-of-type(2) nav li:nth-of-type(1) a:hover {
  text-decoration: underline 5px var(--color-hover-producten);
}

header section:nth-of-type(2) nav li:nth-of-type(2) a:hover {
  text-decoration: underline 5px var(--color-hover-momenten);
}

header section:nth-of-type(2) nav li:nth-of-type(3) a:hover {
  text-decoration: underline 5px var(--color-hover-ontdek);
}

header section:nth-of-type(2) nav li:nth-of-type(4) a:hover {
  text-decoration: underline 5px var(--color-hover-bedrijfsruimte);
}

header section:nth-of-type(2) nav img{ 
  height: 2.5em;
  width: auto;
}


/* buttons */
 header > section:nth-of-type(2) > ul{
    display: flex;
    justify-content: end;
    align-items: center;
  }

header > section:nth-of-type(2) > ul{
  display: flex;
  gap: 1em;
  list-style: none;
}

header > section:nth-of-type(2) a {
  color: var(--color-text-brown);
  font-weight: bold;
  text-decoration: none;
}

header>section:nth-of-type(2) > ul li img{
  width: 1.5em;
}

/* ontwerp/mix */
header > section:nth-of-type(2) > section:first-of-type{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

header > section:nth-of-type(2) > section:first-of-type a{
  display: flex;
  align-items: center;
  column-gap: .5em;
}

header > section:nth-of-type(2) > section:first-of-type img{
  order: -10;
  width: 1.5em;
}