/* nav bar */
main section:first-of-type nav ol{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

main section:first-of-type nav ol li a{
  color: var(--color-text-dark);
  text-decoration: none;
}

main section:first-of-type nav ol li::after{
  content: "/";
  margin-right: .5em;
}

main section:first-of-type nav ol li:last-child::after{
  content: "";
}

main > section:nth-of-type(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: .5em 0;
}

main > section:nth-of-type(2) h1{
  color: var(--color-text-brown);
  font-size: 2em;
}

main > section:nth-of-type(2) img{
  width: 18em;
  height: auto;
}

main > section:nth-of-type(2) p{
  font-size: .6em;
  text-transform: uppercase;
  color: var(--color-text-light);
  padding: .5em .8em;
  width: min-content;
  background-color: var(--background-nieuw);
  border-radius: 10em;
  margin: 2em 0;
}

main > section:nth-of-type(3) > p:first-of-type,
main > section:nth-of-type(3) > p:nth-of-type(2),
main > section:nth-of-type(3) > p:nth-of-type(3){
  margin-top: 1.5em
}

/* details */
main > section:nth-of-type(3) summary::before{
  display: block;
  content: "Toon volledige product omschrijving";
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color-text-brown);
  text-decoration: underline solid 2px var(--background-footer-image);
  text-underline-offset: .3em;
  margin-bottom: .5em;
}

main > section:nth-of-type(3) summary::after{
  display: inline;
  content: "...";
}

main > section:nth-of-type(3) details[open] summary::after{
  content: "";
}

main > section:nth-of-type(3) summary::marker{
  content: none;
}

main > section:nth-of-type(3) h2{
  font-size: 1em;
  font-weight: normal;
}

/* geld*/
main > section:nth-of-type(3) > p:first-of-type{
  font-size: 1.5em;
  font-weight: bold;
}

/* geld en kies sjabloon */
main > section:nth-of-type(3) > p:nth-of-type(2) output{
  font-weight: bold;
}

main > section:nth-of-type(3) > ul{
  display: flex;
  list-style: none;
  gap: 1em;
  margin-top: 1em;
}

main > section:nth-of-type(3) > ul button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: solid .1em gray;
  background-color: transparent;
}

main > section:nth-of-type(3) > ul li:first-of-type button{
  outline: solid .15em var(--color-text-brown);
  outline-offset: .15em;
}

main > section:nth-of-type(3) > ul li:hover{
  outline: solid .15em gray;
  outline-offset: .1em;
  border-radius: 50%;
}

main > section:nth-of-type(3) > ul img{
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

/* aantallen knop*/
main > section:nth-of-type(3) > form{
  display: flex;
  align-items: center;
  gap: .5em;
  margin-top: 1em;
}

main > section:nth-of-type(3) > form button{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: transparent;
  font-weight: bold;
}

main > section:nth-of-type(3) > form button:first-of-type{
  color: grey;
  border: solid .15em;
}

main > section:nth-of-type(3) > form button:first-of-type:hover{
  color: var(--color-text-light);
  background-color: gray;
}

main > section:nth-of-type(3) > form button:nth-of-type(2){
  color: var(--color-text-brown);
  border: solid .15em;
}

main > section:nth-of-type(3) > form button:nth-of-type(2):hover{
  color: var(--color-text-light);
  background-color: var(--color-text-brown);
}

main > section:nth-of-type(3) > form input{
  text-align: center;
  width: 1em;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
}

/* bron: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* aantalen schijdings lijn */
main > section:nth-of-type(3) > p:last-of-type{
  margin: 1em 0 1em 0;
}

main > section:nth-of-type(3)::after{
  display: block;
  content: "";
  height: .1em;
  width: 100%;
  background-color: var(--color-text-brown);
  margin: 2em 0 1em 0;
}

/* op maat maken */
main > section:nth-of-type(4) h2{
  font-size: 1.4em;
  font-weight: bold;
  color: var(--color-text-brown);
}

main > section:nth-of-type(4) p:first-of-type{
  font-size: .9em;
}

main > section:nth-of-type(4) p:first-of-type::before{
  content: "(";
}

main > section:nth-of-type(4) p:first-of-type::after{
  content: ")";
}

main > section:nth-of-type(4) p:nth-of-type(2){
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--background-nieuw);
  margin: 1em 0;
}

main > section:nth-of-type(4) button{
  width: 100%;
  color: var(--color-text-brown);
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 3em;
  border: solid .1em;
  background-color: transparent;
  border-radius: 2em;
}

main > section:nth-of-type(4) button:hover{
  box-shadow: -.3em .3em var(--color-text-brown);
  transition: .2s;
}

main > section:nth-of-type(4)::after{
  display: block;
  content: "";
  height: .1em;
  width: 100%;
  background-color: var(--color-text-brown);
  margin: 2em 0 1em 0;
}

/* bezorging */
main > section:nth-of-type(5) button:first-of-type{
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color-text-brown);
  background-color: transparent;
  border: none;
  text-decoration: underline solid 1px var(--background-footer-image);
  text-underline-offset: .3em;
}

main > section:nth-of-type(5) button:first-of-type:hover{
  text-decoration: none;
}

main > section:nth-of-type(5) button:nth-of-type(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color-text-brown);
  width: 100%;
  border: none;
  background-color: var(--background-footer-image);
  padding: 1em 2em;
  border-radius: 5em;
  margin: 2em 0;
}

main > section:nth-of-type(5) button:nth-of-type(2):hover{
  box-shadow: -.3em .3em var(--color-text-brown);
  transition: .2s;
}

main > section:nth-of-type(5) button:nth-of-type(2) img{
  width: 2em;
  height: auto;
}

main > section:nth-of-type(5) button:nth-of-type(2) p:first-of-type{
  text-align: start;
  width: 60%;
}

main > section:nth-of-type(5) > section {
  display: flex;
  position: relative;
}

main > section:nth-of-type(5) > ul{
  gap: 1em;
  background-color: grey;
  padding: 2em 5em 2em 1em;
  border-radius: 1em;
  background-image: url(/images/social_icoon.png);
  background-size: 3em auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 3em) bottom;

}

main > section:nth-of-type(5) ul li{
  display: flex;
  gap: .5em;
}

main > section:nth-of-type(5) ul img{
  width: 2em;
  height: 2em;
}

main > section:nth-of-type(5) ul p{
  width: 65%;
}

main > section:nth-of-type(5) > section > img{
  position: absolute;
  bottom: 0;
  right: 0;
}

main > section:nth-of-type(5)::after{
  display: block;
  content: "";
  height: .1em;
  width: 100%;
  background-color: var(--color-text-brown);
  margin: 2em 0 1em 0;
}

/* productinformatie */
main > section:nth-of-type(6) details:first-of-type::after,
main > section:nth-of-type(6) details:nth-of-type(2)::after{
  display: block;
  content: "";
  height: .1em;
  width: 100%;
  background-color: var(--color-text-brown);
}

main > section:nth-of-type(6) details summary {
  list-style: none; /* verwijdert pijltje */
  cursor: pointer;
  position: relative;
  color: var(--color-text-brown);
  font-size: 1.2em;
  margin: 1em 0;
}

main > section:nth-of-type(6) details summary::after {
  content: "^";
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.2s;
}

main > section:nth-of-type(6) details[open] summary::after {
  transform: rotate(180deg);
}

/* voedingsinformatie */
main > section:nth-of-type(6) details:last-of-type section:first-of-type{
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr ;
  column-gap: 2em;
  row-gap: 1em;
  margin-bottom: 2em;
}

main > section:nth-of-type(6) details:last-of-type section:first-of-type h4{
  grid-column: 2/3;
  grid-row: 1/2;
}

main > section:nth-of-type(6) details:last-of-type section:first-of-type p{
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.5em;
}

main > section:nth-of-type(6) details:last-of-type section:first-of-type img {
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 7.5em;
  height: auto;
}

main > section:nth-of-type(6) details:last-of-type > p{
  margin: 1em 0;
}

/* tabel */
table{
  width: 100%;
  padding: 1em .5em;
  border: solid 2px var(--color-text-brown);
  border-radius: .5em;
  border-collapse: collapse;
}

td {
  padding: .5em;
}

tr:not(:last-child) td{
  border-bottom: 1px solid #ccc;
}


table th{
  text-align: start;
  color: var(--color-text-brown);
  width: 50%;
}

table tr td:first-of-type{
  font-weight: bold;
}

@media (min-width: 1024px) {
  main {
    padding: 0 10em;
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
  }

  main > * {
    padding: 0;
  }

  main > section:not(:nth-of-type(2)) {
    grid-column: 2 / 3;
  }

  main > section:nth-of-type(2) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
  }

  main > section:nth-of-type(2) h1{
    grid-column: 2/3;
  }

  main > section:nth-of-type(2) img,
  main > section:nth-of-type(2) p{
    grid-column: 1/2;
    position: absolute;
    top: 2em;
  }

  main > section:nth-of-type(2) img{
    width: 30em;
  }

  main > section:nth-of-type(3) details{
    margin: 0;
  }
}

@media (min-width: 1024px) {
    main > section:nth-of-type(2) {
        /* grid-column: 1 / -1; */
        display: grid;
        grid-template-columns: 70% 30%;
        position: relative;
        grid-row: 1 / 3;
        position: sticky;
        top: 4em;
        align-self: start;
    }
}
main > section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: .5em 0;
}