/* main */
/* welkoms pagina */
main{
  background-color: var(--color-bg-section);
}

main > section{
  padding: 0 1.5em;
} /* weg */

/* cadeau pagina */
main > section:first-of-type{
  color: var(--color-text-light);
  background-color: var(--color-bg-blue);
}

main > section:first-of-type ol{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

main nav ol li::after{
  content: "/";
  margin-right: .5em;
}

main nav ol li:last-child::after{
  content: "";
}
main nav ol li a{
  color: var(--color-text-light);
  text-decoration: none;
}

main nav  li:not(:last-child) a:hover{
  text-decoration: underline solid .1rem var(--color-hover-yellow);
  text-underline-offset: .3em;
}

@media (max-width: 1024px) {
  main>section:first-of-type{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 2em;
  }

  main > section:first-of-type > *{
    justify-content: center;
    justify-items: center;
  }

  h1{
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-items: center;
    font-size: 2em;
  }

  main nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: center;
    justify-items: center;
  }

  main > section:first-of-type p{
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: center;
  }

  main > section:first-of-type img {
    grid-column: 1/-1;
    grid-row: 4/5;
    width: 20em;
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  main > section:first-of-type{
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 10em;
  }

  h1{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 3.5em;
  }

  main nav{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
  }

  main > section:first-of-type p{
    grid-column: 1/2;
    grid-row: 3/4;
  }

  main > section:first-of-type > img {
    grid-column: 3/4;
    grid-row: 1/-1;
    width: 15em;
    align-self: end;
  }
}

/* catagorien */
main > section:nth-of-type(2){
  padding: 2em 0;
}

main>section:nth-of-type(2) ul{
  display: flex;
  list-style: none;
  gap: 3.5em;
  overflow: auto;
  scrollbar-width: none;
  height: 10em;
}

main>section:nth-of-type(2) ul li{
  align-self: center;
}

main>section:nth-of-type(2) ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  color: var(--color-text-dark);
}

main>section:nth-of-type(2) ul li a h3{
  order: 2;
}

main>section:nth-of-type(2) ul li a img{
  border-radius: 5em;
  width: 6em;
  order: 1;
}

main>section:nth-of-type(2) ul li a img:hover{
  scale: 1.2;
  transition: .3s;
}

main>section:nth-of-type(2) ul li:first-of-type a img{
  background-color: var(--color-bg-blue);
}

main>section:nth-of-type(2) ul li:nth-of-type(2) a img{
  background-color: var(--color-bg-bruiloft);
}

main>section:nth-of-type(2) ul li:nth-of-type(3) a img{
  background-color: var(--color-bg-doop);
}

main>section:nth-of-type(2) ul li:nth-of-type(4) a img{
  background-color: var(--color-bg-communie);
}

@media (min-width: 1024px){
  main>section:nth-of-type(2) ul{
    justify-content: center;
  }
}

/* filteren en sorteren */
main>section:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}

main > section:nth-of-type(3) button{
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-text-brown);
}

main > section:nth-of-type(3) img{
  width: 1em;
  margin-right: .5em;
}

main > section:nth-of-type(3) > p{
  font-size: 1.2em;
}

/* scheidingslijn */
main > section:nth-of-type(4)::before{
  display: block;
  content: "";
  height: .1em;
  width: 100%;
  background-color: var(--color-bg-devider);
  margin: 1em 0 2em;
}

/* producten positionering*/
main > section:nth-of-type(4) > ul li:first-of-type {
  grid-column: -1;
  grid-row: 1;
}

@media (max-width:1024px) {
  main > section:nth-of-type(4) > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
    gap: 2em;
  }
}

@media (min-width:1024px) {
  main > section:nth-of-type(4) > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
    gap: 1em;
  }
}

@media (min-width:1440px) {
  main > section:nth-of-type(4) > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    
  }

  main > section{
    padding: 0 8em;
  }
}
  
/* producten stijling*/
main > section:nth-of-type(4) > ul{
  list-style: none;
}

main > section:nth-of-type(4) > ul > li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: var(--color-text-dark);
}

main > section:nth-of-type(4) > ul > li a h3{
  order: 4;
}

main > section:nth-of-type(4) > ul > li > a > img:first-of-type{
  order: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: auto;
}

main > section:nth-of-type(4) > ul li a p:last-of-type{
  order: 5;
}

main > section:nth-of-type(4) > ul > li a img:nth-of-type(2){
  order: 3;
  width: 100%;
  height: auto;
  background-color: var(--color-bg-product);
  padding: 1em;
  border-radius: 50%;
}

/* tweede product */
main > section:nth-of-type(4) > ul > li:nth-of-type(2) a p:first-of-type{
  order: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em;
  font-size: 1em;
  color: var(--color-text-light);
  background-color: var(--color-bg-nieuw);
  border-radius: 1em;
}

/* sjalonen */
main > section:nth-of-type(4) > ul ul{
  order: 5;
}

main > section:nth-of-type(4) ul ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: .5em;
}

main > section:nth-of-type(4) ul button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  background: none;
  border-radius: 50%;
  border: solid .1em var(--color-border-grey);
}

main > section:nth-of-type(4) > ul ul li:first-of-type button{
  outline: solid .15em var(--color-border-dark);
  outline-offset: .15em;
}

main>section:nth-of-type(4) > ul ul li:hover{
  outline: solid .1em var(--color-border-grey);
  outline-offset: .1em;
  border-radius: 50%;
}

main>section:nth-of-type(4) > ul ul li:last-of-type:hover{
  outline: none;
}

main>section:nth-of-type(4) ul > li li img{
  width: 1.3em;
  height: 1.3em;
  border-radius: 1em;
}

/* reclame stukje */
main>section:nth-of-type(4) > ul > li:first-of-type{
  background-color: var(--color-bg-blue);
  padding: 1em;
  border-radius: 1em;
}

main>section:nth-of-type(4) > ul > li:first-of-type,
main>section:nth-of-type(4) > ul > li:first-of-type a{
  color: var(--color-text-light);
  text-align: left;
}


main>section:nth-of-type(4) > ul > li:first-of-type p{
  font-size: 1.5em;
  font-weight: bold;
}

main>section:nth-of-type(4) > ul > li:first-of-type a{
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}

main>section:nth-of-type(4) > ul > li:first-of-type img{
  width: 80%;
}

main>section:nth-of-type(4) > ul > li:first-of-type a::after{
  display: block;
  content: "";
  height: .1rem;
  width: 100%;
  background-color: var(--color-bg-yellow);
  margin: .5em 0;
}

/* producten weergeven */
main section:nth-of-type(4) > p{
  text-align: center;
  font-size: 1.3em;
  margin: 1em 0 1em 0;
}