/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text-dark: #111;
  --color-text-light: white;
  --color-text-brown: #5a1f06;
  --background-header-reclame: #dce84f;
  --color-text-header-reclame: #5a1f06;
  --background-header-light: #efc16d;
  --background-color-dark: #007aff;
  --background-footer-image: #ffd200;
  --background-color-light: #f3f6fa;
  --background-color-light-grey: #F3F6FA;
  --background-bruiloft: #8A0047;
  --background-doop: #8ACEFF;
  --background-communie: #FFABDF;
  --color-hover-producten: #D70100;
  --color-hover-momenten: #FA6400;
  --color-hover-ontdek: #00A832;
  --color-hover-bedrijfsruimte:#0E74E1;
  --color-selection-dark: #123A9F;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
 /* eerst sectie */
header>section:first-child,
header>section:nth-of-type(2){
  padding: 0 1.5em;
}

/* reclame */
header > section:first-of-type {
  background-color: var(--background-header-reclame);
  height: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header > section:first-of-type a {
  color: var(--color-text-header-reclame);
  font-weight: bold;
}

/* nav bar */
header>section:nth-of-type(2) img{
  width: 3em;
}

@media (max-width: 1024px) {

  header > section:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    grid-template-rows: 1fr 1fr;
  }

  header > section:nth-of-type(2) button{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  header > section:nth-of-type(2) > img{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 5.5em;
  }

  header > section:nth-of-type(2) nav{
    display: none;
  }

  header > section:nth-of-type(2) > ul{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  header>section:nth-of-type(2) > ul li:nth-of-type(2),
  header>section:nth-of-type(2) > ul li:nth-of-type(3){
     display: none;

  }

  header > section:nth-of-type(2) > section:first-of-type{
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

@media (min-width: 1024px){

  header > section:nth-of-type(2){
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-rows: 1fr;
    gap: 1em;
  }

  header > section:nth-of-type(2) button svg{
    display: none;
  }

  header > section:nth-of-type(2) > img{
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 7em;
  }

  header > section:nth-of-type(2) nav{
    grid-column: 2/3;
    grid-row: 1/-1;
  }

  header > section:nth-of-type(2) > ul{
    grid-column: 4/5;
    grid-row: 1/-1;
  }

  header > section:nth-of-type(2) section:first-of-type{
    grid-column: 3/4;
    grid-row: 1/-1;
  }

  header > section:nth-of-type(2) section:first-of-type a{
    height: 3em;
    width: max-content;
    padding: 0 1.5em;
    background-color: var(--background-color-light-grey);
    border: solid .1em var(--color-text-dark);
    border-radius: 2em;
  }

}

/* logo */


/* burger menu */
header > section:nth-of-type(2) button{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: max-content;
  height: max-content;
  border: none;
  background: none;
}

header > section:nth-of-type(2) button svg{
  width: 2.5em;
}

/* nav */
header section:nth-of-type(2) nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

header section:nth-of-type(2) nav ul{
  display: flex;
  list-style: none;
  gap: 2em;
}

header section:nth-of-type(2) nav a{ /* ik snap niet waarom */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-brown);
  font-weight: bold;
}

header section:nth-of-type(2) nav li a:hover{
  text-underline-offset: 1.7em;
}

header section:nth-of-type(2) nav li:nth-of-type(1) a:hover {
  text-decoration: underline 5px var(--color-hover-producten);
}

header section:nth-of-type(2) nav li:nth-of-type(2) a:hover {
  text-decoration: underline 5px var(--color-hover-momenten);
}

header section:nth-of-type(2) nav li:nth-of-type(3) a:hover {
  text-decoration: underline 5px var(--color-hover-ontdek);
}

header section:nth-of-type(2) nav li:nth-of-type(4) a:hover {
  text-decoration: underline 5px var(--color-hover-bedrijfsruimte);
}

header section:nth-of-type(2) nav img{ 
  height: 2.5em;
  width: auto;
}


/* buttons */
 header > section:nth-of-type(2) > ul{
    display: flex;
    justify-content: end;
    align-items: center;
  }

header > section:nth-of-type(2) > ul{
  display: flex;
  gap: 1em;
  list-style: none;
}

header > section:nth-of-type(2) a {
  color: var(--color-text-brown);
  font-weight: bold;
  text-decoration: none;
}

header>section:nth-of-type(2) > ul li img{
  width: 1.5em;
}

/* ontwerp/mix */
header > section:nth-of-type(2) > section:first-of-type{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

header > section:nth-of-type(2) > section:first-of-type a{
  display: flex;
  align-items: center;
  column-gap: .5em;
}

header > section:nth-of-type(2) > section:first-of-type img{
  order: -10;
  width: 1.5em;
}

/* main */
/* welkoms pagina */
main{
  background-color: var(--background-color-light);
}

main > section{
  padding: 0 1.5em;
}

/* cadeau pagina */
main>section:first-of-type{
  color: var(--color-text-light);
  background-color: var(--background-color-dark);
}

main > section:first-of-type ol{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

main nav ol li a{
  color: var(--color-text-light);
  text-decoration: none;
}

main nav ol li::after{
  content: "/";
  margin-right: .5em;
}

main nav ol li:last-child::after{
  content: "";
}

@media (max-width: 1024px) {
  main>section:first-of-type{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 2em;
  }

  main > section:first-of-type > *{
    justify-content: center;
    justify-items: center;
  }

  h1{
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-items: center;
    font-size: 2em;
  }

  main nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: center;
    justify-items: center;
  }

  main>section:first-of-type p{
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: center;
  }

  main section:first-of-type img {
    grid-column: 1/-1;
    grid-row: 4/5;
    width: 20em;
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  main>section:first-of-type{
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 10em;
  }

  h1{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 3.5em;
  }

  main nav{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
  }

  main>section:first-of-type p{
    grid-column: 1/2;
    grid-row: 3/4;
  }

  main section:first-of-type img {
    grid-column: 3/4;
    grid-row: 1/-1;
    width: 15em;
    align-self: end;
  }
}


/* catagorien */
main>section:nth-of-type(2){
  padding-top: 2em;
  padding-bottom: 2em;
}

main>section:nth-of-type(2) ul{
  display: flex;
  list-style: none;
  gap: 3.5em;
  overflow: auto;
  scrollbar-width: none;
}

main>section:nth-of-type(2) ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  color: var(--color-text-dark);
}

main>section:nth-of-type(2) ul li a h3{
  order: 2;
}

main>section:nth-of-type(2) ul li a img{
  border-radius: 5em;
  width: 6em;
  order: 1;
}

main>section:nth-of-type(2) ul li:first-of-type a img{
  background-color: var(--background-color-dark);
}

main>section:nth-of-type(2) ul li:nth-of-type(2) a img{
  background-color: var(--background-bruiloft);
}

main>section:nth-of-type(2) ul li:nth-of-type(3) a img{
  background-color: var(--background-doop);
}

main>section:nth-of-type(2) ul li:nth-of-type(4) a img{
  background-color: var(--background-communie);
}

/* 
@media (max-width: 757px){
  ul::scroll-button(*) {
  width:auto;
  aspect-ratio:1;
  padding:0;
  background: transparent;
  border:none;
  border-radius:50%;
  cursor:pointer;
  font-size:3em;
  position:absolute;
  color: var(--color-text-brown);
}

ul::scroll-button(right) {
  content: '>' / 'Next';
  right:clamp(1.5rem, 5vw, 2rem);
  right: 0;
}

ul::scroll-button(left) {
  content: '<' / 'Previous';
  left:clamp(1.5rem, 5vw, 2rem);
}
}
*/

@media (min-width: 1024px){
  main>section:nth-of-type(2) ul{
    justify-content: center;
  }
}

/* filteren en sorteren */
main>section:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}

main>section:nth-of-type(3) button{
  background-color: transparent;
  border: none;
}


main>section:nth-of-type(3) h2{
  display: flex;
  font-size: 1.5em;
}

main>section:nth-of-type(3) button p{
  order: 2;
  color: var(--color-text-brown);
}

main>section:nth-of-type(3) img{
  order: 1;
  width: 1em;
  margin-right: .5em;
}

main>section:nth-of-type(3) > p{
  font-size: 1.2em;
}

/* producten */
/* scheidingslijn */
main>section:nth-of-type(4)::before{
  display: block;
  content: "";
  height: .1em;
  width: 100%;
  background-color: var(--color-text-brown);
  margin: 1em 0 2em;
}

/* order */
main>section:nth-of-type(4)>ul li:first-of-type a h3{
  order: 2;
}

main>section:nth-of-type(4)>ul li a p{
  order: 3;
}

main>section:nth-of-type(4)>ul li:first-of-type a img:nth-of-type(2){
  width: 90%;
  order: 1;
  border-radius: 10em;
}

/* grids en positionering */
main>section:nth-of-type(4) li:first-of-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main>section:nth-of-type(4) > ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 2em;
  padding-bottom: 1.5em;
}

main>section:nth-of-type(4) > ul > li > a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: var(--color-text-dark);
}

main>section:nth-of-type(4) > ul li a>*{
  margin-bottom: .5em;
}

main>section:nth-of-type(4) > ul li a h4{
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em;
  background-color: var(--background-footer-image);
  border-radius: 1em;
}

main>section:nth-of-type(4) > ul > li > a img:first-of-type{
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
}

main>section:nth-of-type(4) > ul > li > a > img:nth-of-type(2){
  background-color: white; /* kleur veranderen */
  border-radius: 10em;
}


  /* sjablonen */
main>section:nth-of-type(4) ul > li > section ul{
  display: flex;
  list-style: none;
  gap: .5em;
}

main>section:nth-of-type(4) > ul > li > section ul img{
  width: 1.5em;
  border-radius: 1em;
}

main>section:nth-of-type(4) > ul > li > section a:hover{
  border: solid .1em var(--color-text-dark);
  width: 2em;
  height: 2em;
  border-radius: 1em;
}

/* reclame stukje */
main>section:nth-of-type(4) > ul > li:nth-of-type(2){
  background-color: var(--background-color-dark);
  padding: 1em;
  border-radius: 1em;
}

main>section:nth-of-type(4) > ul > li:nth-of-type(2),
main>section:nth-of-type(4) > ul >li:nth-of-type(2) a{
  color: var(--color-text-light);
}


main>section:nth-of-type(4) > ul > li:nth-of-type(2) p{
  font-size: 1.5em;
  font-weight: bold;
}

main>section:nth-of-type(4) > ul > li:nth-of-type(2) a{
  font-size: 1.3em;
  font-weight: bold;
}

main>section:nth-of-type(4) > ul > li:nth-of-type(2) img{
  width: 100%;
}

main>section:nth-of-type(4) > ul > li:nth-of-type(2) a::after{
  display: block;
  content: "";
  height: .2em;
  width: 100%;
  background-color: var(--background-footer-image);
  margin: .5em 0;
}

/* producten weergeven */
main section:nth-of-type(4) > p{
  font-size: 1.3em;
  width: 70%;
  margin-bottom: 1em;
}

/* footer */
footer{
  background-color: var(--background-color-light);
}

footer section:first-of-type,
footer section:nth-of-type(2), /* veranderen naar voor heel body */
footer section:nth-of-type(3),
footer section:nth-of-type(4),
footer section:nth-of-type(5){
  padding: 0 1.5em;
}

/* M&M's foto */
footer article{
  background-color: var(--background-footer-image);
  position: relative;
  overflow: hidden;
}

footer article>img{
  position: relative;
  z-index: 1;
}

footer article::after{
  position: absolute;
  left: -25%;
  bottom: -5em;
  width: 150%;
  height: 10em;
  content: "";
  background-color: var(--background-color-light);
  border-radius: 50%;
}

footer article img{
  width: 100vw;
  height: auto;
  padding: 3em 2em;
}

/* klantenservice layout */
footer > section:first-of-type ul{
  list-style: none;
  width: 100%;
}

footer > section:first-of-type ul{ /* hoe een gap maken */

}

@media (min-width: 768px) {
  footer > section:first-of-type ul{
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  footer > section:first-of-type ul{
    display: flex;
    justify-content: center;
  }
}

footer section:first-of-type a{
  color: var(--color-text-brown);
  font-weight: bold;
  text-decoration: underline var(--background-footer-image);
  text-underline-offset: .2em;
}

/* klantenservice locatie */
footer section:first-of-type ul li:first-of-type {
  display: grid;
  grid-template-columns: max-content 60%;
  grid-template-rows: max-content auto;
  column-gap: 1em;
  width: 22em;
}

footer section:first-of-type ul li img {
  grid-row: 1 / span 2;
  width: 5em;
  height: auto;
}

/* klantenservice telefoon */
footer section:first-of-type ul li:nth-of-type(2) {
  display: grid;
  grid-template-columns: max-content 60%;
  grid-template-rows: auto auto auto;
  column-gap: 1em;
  width: 22em;
}

footer section:first-of-type ul li:nth-of-type(2) img {
  grid-row: 1 / span 3;
  width: 5em;         
  height: auto;
}


/* community sectie */
footer > section:nth-of-type(2) h2{
  font-size: 2.3em;
}

label {
  display: grid;
  padding: 1em 0;
}

label span {
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 1em 0;
  pointer-events: none;
  transition: .5s;
  font-size: 1em;
}

label span::after{
  content: "*";
}

label input{
  grid-column-start: 1;
  grid-row-start: 1;
  appearance: none;
  font-size: 1em;
  font-family: inherit;
  padding: 1em 0;
  border: none;
  background: none;
  border-bottom: solid 1px var(--color-text-dark);
  outline: none;
}

label:has(input:focus) span {
  translate: 0 -1em;
  font-size: .8em;
}

label:has(input:not(:placeholder-shown)) span {
  translate: 0 -1em
}

footer > section:nth-of-type(2) p a{
  color: var(--color-text-brown);
  font-weight: bold;
  text-decoration: underline var(--background-footer-image);
  text-underline-offset: .2em;
}

footer button{
  color: var(--color-text-brown);
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  padding: 1.5em 5em;
  background-color: var(--background-footer-image);
  border-radius: 5em;
  border: none;
  margin: 2em 0;
}

/* klantenservice en over ons */
footer summary{
  color: var(--color-text-brown);
}

footer section:nth-of-type(3) a{
  color: var(--color-text-dark);
  text-decoration: none;
}

/* socials */
footer section:nth-of-type(4) ul{
  display: flex;
  list-style: none;
}

footer section:nth-of-type(4) img{
  width: 3.5em;
  height: auto;
  padding-right: 1em;
}

/* reponsive van section 2,3,45 */


/* proudly part of mars */
footer section:nth-of-type(5) a{
  color: var(--color-text-dark);
}

footer section:nth-of-type(5) p:first-of-type,
footer section:nth-of-type(5) p a{
  color: var(--color-text-brown);
}

footer section:nth-of-type(5) ul{
  list-style: none;
}

footer section:nth-of-type(5) ul li{
  padding-bottom: .5em;
}

footer section:nth-of-type(5) p a{
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

footer section:nth-of-type(5) p a::after{
  content: "";
  background: url("");
}


footer {
  padding-bottom: 3em;
}

/* responsive */
/* footer */

::selection{
  color: var(--background-color-light);
  background-color: var(--color-selection-dark);
}

a::after{
  content("dat tekenetjeS")
}


